/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.nav{
  width:100%;
  height:53px;
  background-color: #002fff;
  display:flex;
  align-items: center;
}
.nav div{
  color:#fff;
  padding-left:20px;
  font-weight: 800;
  font-size:25px;
  letter-spacing:1px;
}
.box_container{
  display:flex;
  justify-content:center
}
.box{
  width:688px;
  height:auto;
  border:5px solid #eee;
  background-color:#fff;
  margin-top:30px;
}
.subTitle{
  padding: 20px 20px 0;
  color: #477cdc;
  font-weight: bold;
}
.inner{
  padding:20px 0;
}
.head{
  padding:0 20px 20px;
}
.title{
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.05em;
}
.color1 {
  color: #f00;
}
.writer{
  padding: 6px 10px;
  border-bottom: 1px solid #ccc;
  letter-spacing: 0;
  box-sizing: border-box;
}

.writer-info {
  clear: both;
  padding: 10px;
  font-size: 14px;
}
.content-wrap {
  margin-top: 40px;
  margin-bottom: 30px;
}
.content {
  width: 96%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: left;
  color: #333;
  font-size: 17px;
  letter-spacing: 0;
}
.mainhead{
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.mainhead2{
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.content .imgbox {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
}
.content p {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 1.5;
}
.imgdesc {
  padding-top: 8px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 0.9em;
}
.inputBoxs {
  /* z-index: 2; */
  position: relative;
  background-image: url(https://codedeploylightsail-matchingapp-bn.s3.ap-northeast-2.amazonaws.com/back.jpeg);
  background-size: auto 100%;
  padding: 5% 0;
  text-align: center;
  margin: 50px 0;
  letter-spacing: -0.075em;
}
.inputBoxs h1 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
.inputBoxs h3 {
  font-size: 36px;
  font-weight: normal;
  color: #fff;
  margin: 0px;
  padding: 0px;
}
.inputBoxs ul {
  width: 94%;
  max-width: 560px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 50px;
  text-align: left;
  margin: 1em auto;
  box-sizing: border-box;
}
.inputBoxs ul li{
  padding:2px 0;
}
.inputBoxs #line01{
  text-align: center;
}
.inputBoxs #line02{
  font-weight: bolder;
  color:#09F;
  font-size:12px;
  text-align: center;
}
.inputBoxs #line03{
  font-weight: bolder;
  font-size:26px;
  text-align: center;
}
.inputBoxs input[type="text"]{
  display:inline-block;
  border:1px solid #ccc;
  height:50px;
  width:100%;
  box-sizing: border-box;
}


.inputBoxs #chkline {
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 10px 0;
}

.inputBoxs #chkline label {
    width: auto;
    font-weight: normal;
}
.inputBoxs #smtbtn{
  text-align: center;
  padding:10px 0;
}
.inputBoxs #smtbtn input {
    width: 100%;
    background-color: rgb(34, 0, 255);
    color: #fff;
    height: 60px;
    line-height: 60px;
    border: 0px;
    border-radius: 7px;
    font-size: 1.5em;
    cursor: pointer;
}
.footerInfo1{
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 13px;
  color: rgb(0, 0, 0);
  }


@media (max-width: 700px) {
  .box_container{
    width:auto;
    display:block;
  }
  .box{
    float: none;
    width: auto;
    font-weight: normal;
    border: 0;
  }
  .inner{
    display: block;
    padding-bottom: 5px;
  }
  .inner .head{
    display:table-cell;
    padding:0 10px;
  }
  .head .title {
    width:100%;
    font-size: 28px;
    /* color:red; */
  }
  .writer-info{
    padding: 10px 0;
    font-size: 12px;

  }
  .content{
    padding:0;
  }
  .content .imgbox img {
    max-width: 100%;
    margin: 0 auto;
  }
}