/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.sub {
}
.appPicture {
  width: 800px;
  height: 1023px;
  margin-left: 20px;
}
.nameArea{
  display: block;
  justify-content: center;
  align-items: center;
  
 }




.username {
  display: flex;
  width: 608px;
  height: 81  px;
  margin-left: 12px;
  margin-right: 4px;
  margin-bottom: 10px;
  font-size: 18pt;
}
.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone select {
  width: 484px;
  height: 48px;
  margin: 0 12.5px 0;
}
.phone input {
  display: flex;
  width: 600px;
  height: 75px;
  margin-left: 12px;
  margin-right: 4px;
  margin-bottom: 10px;
  font-size: 18pt;
}
.btnArea {
  display: flex;
  justify-content: center;
}
.btnArea button {
  background-color: transparent;
  border: 0px;
  /* width: 812px;
  height: 90px;
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 30px; */
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profit {
  display: block;
 
  justify-content: center;

  
}
.profit1 {
  display: flex;
  justify-content: center;
  
 
}

.footerInfo {
  margin-top: 10px;
  margin-left: 12px;
}
.footerInfo div {
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  /* color: "#fff !important"; */
}
.imgGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.imgGrid img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 600px) 
{
  .container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .App {
  }
  .appPictureContainer {
    display: flex;
    justify-content: center;
  }
  .appPicture {
    width: 90vw;
    margin-left: 0px;
    /* width:10vw; */
    /* height:300px; */
  }
  .nameArea{
    display: block;
    justify-content: center;
    align-items: center;
    
   }

  .namephone {
   
    /* background-color: red; */

    
    display: block;
    justify-content: center;
    
  }
  .namephone input {
    /* padding-left: 10px;
    width: 80vw;
    height: 50px; */
    justify-content: center;
    height: 45px;
    width: 370px;
  }
  .App .phone {
    display: block;
    justify-content: center;
    /* background-color:red; */
  }
  .App .phone select {
    /* width: 15vw; */
  }
  .App .phone input {
    justify-content: center;
    /* padding-left: 10px;
    width: 80vw;
    height: 50px;
    justify-content: center */
    height: 45px;
    width: 370px;
  }
  .App .btnArea button {
    display: flex; 
    width: 500px;
 
    /* height: 50px; */
    cursor: pointer;
  }
  
   .profit {
    display: flex;
    justify-content: center;
    width: 400px;
    
  }
  .profit1 {
    height: 800px;
  }
  /* .container {
    margin-top: 50px;
  }
  .container img {
    width: 100%;
    height: 150px;
  } */
  .imgGrid {
    display: block;
  }
  
}