/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container31 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.sbdiv3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.namephone31, .phone31, .time31 {
  width: 100%;
}

.namephone31 input[type=text], 
.phone31 input[type=tel], 
.time31 select {
  width: 100%; 
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.nameArea31{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
}


.appPictureContainer31 {
  width: 800px;
  height: 790px;
  margin-left: 20px;
}

.btnArea31 {
  display: flex;
  justify-content: center;
}
.btnArea31 button {
  background-color: transparent;
  border: 0px;
  /* width: 812px;
  height: 90px;
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 30px; */
}
.container31 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.radio-container3 {
  margin-right: 10px; /* Adjust as needed */

}
.namephone31{
/*  
  align-items: center; */
  flex-direction: row;
  /* justify-content: space-between; */
  border: 3px solid #000;
  border-radius: 20px; /* 둥글게 */
  padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9; /* 배경색 변경 */
  color: #333; /* 텍스트 색상 변경 */
  font-family: 'Arial', sans-serif; /* 글꼴 변경 */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
  line-height: 100%;
  width: 592px;
}
.phone31{
  
  /* align-items: center; */
  flex-direction: row;
  /* justify-content: space-between; */
  border: 3px solid #000;
  border-radius: 20px; /* 둥글게 */
  padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9; /* 배경색 변경 */
  color: #333; /* 텍스트 색상 변경 */
  font-family: 'Arial', sans-serif; /* 글꼴 변경 */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
  line-height: 100%;
  width: 592px;
}
.time31{
  
  /* align-items: center; */
  flex-direction: row;
  /* justify-content: space-between; */
  border: 3px solid #000;
  border-radius: 20px; /* 둥글게 */
  padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9; /* 배경색 변경 */
  color: #333; /* 텍스트 색상 변경 */
  font-family: 'Arial', sans-serif; /* 글꼴 변경 */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
  line-height: 100%;
  width: 592px;
}
.label-header31 {
  display: flex;
  margin-left: 10px; 
  width: 50px;
  justify-content: flex-start;  /* 가로축 왼쪽 정렬 */
  align-items: center;  /* 이 값을 조정하여 간격을 원하는대로 조절하세요 */
}

#chklin31, #chkline32, #chkline33, #chkline34 {
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#chklin31 label {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #000;
  border-radius: 20px; /* 둥글게 */
  padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9; /* 배경색 변경 */
  color: #333; /* 텍스트 색상 변경 */
  font-family: 'Arial', sans-serif; /* 글꼴 변경 */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
  line-height: 100%;

}
#chkline32 label {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #000;
  border-radius: 20px; /* 둥글게 */
  padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9; /* 배경색 변경 */
  color: #333; /* 텍스트 색상 변경 */
  font-family: 'Arial', sans-serif; /* 글꼴 변경 */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
  line-height: 100%;

}
#chkline33 label {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #000;
  border-radius: 20px; /* 둥글게 */
  padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9; /* 배경색 변경 */
  color: #333; /* 텍스트 색상 변경 */
  font-family: 'Arial', sans-serif; /* 글꼴 변경 */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
  line-height: 100%;

}
#chkline34 label {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #000;
  border-radius: 20px; /* 둥글게 */
  padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
  font-size: 13px;
  text-align: center;
  background-color: #f9f9f9; /* 배경색 변경 */
  color: #333; /* 텍스트 색상 변경 */
  font-family: 'Arial', sans-serif; /* 글꼴 변경 */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
  line-height: 100%;
 
}
.footerInfo31 {
  margin-top: 10px;
  margin-left: 12px;
}
.footerInfo31 div {
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  /* color: "#fff !important"; */
}
.imgGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.imgGrid img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 600px) 
{
  .container31 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .App31 {
  }
  .appPictureContainer31 {
    display: flex;
    justify-content: center;
  }
  .appPicture31 {
    width: 90vw;
    margin-left: 0px;
    /* width:10vw; */
    /* height:300px; */
  }
  .nameArea31{
    display: block;
    justify-content: center;
    align-items: center;
    
   }

  .namephone31 {
   
    /* background-color: red; */

    
    display: block;
    justify-content: center;
    
  }
  .namephone31 input {
    /* padding-left: 10px;
    width: 80vw;
    height: 50px; */
    justify-content: center;
    height: 45px;
    width: 370px;
  }
  .App31 .phone31 {
    display: block;
    justify-content: center;
    /* background-color:red; */
  }
  .App31 .phone31 select {
    /* width: 15vw; */
  }
  .App31 .phone31 input {
    justify-content: center;
    /* padding-left: 10px;
    width: 80vw;
    height: 50px;
    justify-content: center */
    height: 45px;
    width: 370px;
  }
  .App31 .btnArea31 button {
    display: flex; 
    width: 500px;
 
    /* height: 50px; */
    cursor: pointer;
  }
  
   .profit {
    display: flex;
    justify-content: center;
    width: 400px;
    
  }
  .profit1 {
    height: 800px;
  }
  /* .container {
    margin-top: 50px;
  }
  .container img {
    width: 100%;
    height: 150px;
  } */
  .imgGrid {
    display: block;
  }
  
}