/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container9 {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; */
}
.sub9 {
}
.appPictureContainer9 {
  /* width: 1200px;
  height: 1023px; */
}
.nameArea9{
  display: block;
  justify-content: center;
  align-items: center;
  
 }
 .namephone9  input[type=text], 
 .phone9 input[type=tel] {
   flex-direction: row;
   /* justify-content: space-between; */
   /* border: 3px solid #000; */
   border-radius: 20px; /* 둥글게 */
   padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
   font-size: 13px;
   text-align: center;
   /* background-color: #f9f9f9; 배경색 변경 */
   color: #333; /* 텍스트 색상 변경 */
   font-family: 'Arial', sans-serif; /* 글꼴 변경 */
   box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
   line-height: 100%;
   width: 370px;
   height: 38px;
 }

 /* .time9 select {
  flex-direction: row;

  border-radius: 20px;
  padding: 8px;   font-size: 13px;
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif; 
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
  line-height: 100%;
  width: 400px;
  height: 38px;
} */


.phone9 select {
  width: 484px;
  height: 48px;
  margin :0 0 0 0;

}
.phone9 input {
  flex-direction: row;
  /* justify-content: space-between; */
  /* border: 3px solid #000; */
  border-radius: 20px; /* 둥글게 */
  padding: 8px; /* padding을 추가하여 테두리와 내용 사이에 간격을 만듭니다. */
  font-size: 13px;
  text-align: center;
  /* background-color: #f9f9f9; 배경색 변경 */
  color: #333; /* 텍스트 색상 변경 */
  font-family: 'Arial', sans-serif; /* 글꼴 변경 */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 그림자 효과 추가 */
  line-height: 100%;
  width: 620px;
  height: 38px;
}
.btnArea9 {
  margin :0 0 0 0;
  display: flex;
  justify-content: center;
  width: 200px;
}
.btnArea9 button {
    margin :0 0 0 0;
  background-color: transparent;
  border: 0px;
  /* width: 812px;
  height: 90px;
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 30px; */
}

 

.bottom-bar9{ 
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 1190px;
  height: 150px;
  background-color: #25a5ff;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  height: 160px;
}
.footerInfo9 {

  margin-top: 10px;
  margin-left: 162px;
}

.footerInfo9 div {

         display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;   
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 13px;
        color: #000000;
}

.imgGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.imgGrid img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}


@media (max-width: 412px) 
{
  .container9 {
    width: 300px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .App9 .bottom-bar9 {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .appPictureContainer9 {
    display: flex;
    justify-content: center;
  }
  .appPicture9 {
    width: 90vw;
    margin-left: 0px;
    /* width:10vw; */
    /* height:300px; */
  }
  .nameArea9{
    display: block;
    justify-content: center;
    align-items: center;
    
    
  }

  .namephone9 {
  
    display: block;
    justify-content: center;
    
  }

  .namephone9 input {
   
    justify-content: center;
    height: 45px;
    width: 150px;
  }

  .App9 .row {
    gap: 0px;
    width: 412px;

  }
  .App .phone9 {
    display: block;
    justify-content: center;
    /* background-color:red; */
  }
  .App .phone9 select {
    /* width: 15vw; */
  }
  .App .phone9 input {
    justify-content: center;
    /* padding-left: 10px;
    width: 80vw;
    height: 50px;
    justify-content: center */
    height: 45px;
    width: 220px;
  }
  .App .time9 select {
    /* background-color:red; */
    align-items: center;
    display: block;
    justify-content: center;
    height: 45px;
    width: 370px;
  }
 
  .App .btnArea9 button {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    cursor: pointer;
    background-color: #c10000;
  }
  .App .btnArea9 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    background-color: #c10000;
  }

  .App .namephone9,
  .phone9
   {
     align-items: center;
  }

  .App .bottom-bar9 {
    flex-direction: row;
    align-items: center;
    }

    .username9,
    .phone9 input {
      width: 200px;
    }
   .profit {
    display: flex;
    justify-content: center;
    width: 400px;
    
  }
  .profit1 {
    height: 800px;
  }
  /* .container {
    margin-top: 50px;
  }
  .container img {
    width: 100%;
    height: 150px;
  } */
  .imgGrid {
    display: block;
  }
  .appPictureContainer9 img{
    width: 600px;
    
  }
  
}
